<h1>Create a new reminder</h1>

<%= simple_form_for @reminder do |form| %>
<input type="hidden"
       value="<%= form_authenticity_token() %>"
       name="authenticity_token"/>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.input :send_date, as: :string, input_html: {class: "datetime"} %>
  </div>

  <%= form.submit "Create Reminder", class: 'btn btn-primary' %>
<% end %>
