<h1>Home</h1>

<h2>All my Reminders</h2>

<%= link_to 'New Reminder', new_reminder_path, class: 'button' %>

<div class="event">
  <% @reminders.each do |r| %>
    <div class="event-tag">
      <p>Title: <%= r.title %></p>
      <p>Description: <%= r.description %></p>
      <p>Date and Time: <%= r.send_date %></p>
      <p><%= link_to "Delete", reminder_path(r), class: 'btn btn-primary modul', method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
  <% end %>
</div>

